.icon-iai{
  background-image: url("https://www.integrity-apps.com/wp-content/uploads/2013/04/iaiLogo_600px.png");
}

.zoomPic {
  margin: 30px;
  width: 300px;
  height: 180px;
  background-color: blue;
  background-image: url(http://placehold.it/1200x720);
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: 300px 180px;
  
  -webkit-transition: all 2.5s ease-in-out;
  -moz-transition: all 2.5s ease-in-out;
  -ms-transition: all 2.5s ease-in-out;
  -o-transition: all 2.5s ease-in-out;
  transition: all 2.5s ease-in-out;
}
.zoomPic.zoom {
  background-size: 1200px 720px !important; 
}

#grad {
    transition: all 2s;
    height: 300px;
    width: auto;
    max-width: 100%;
    background: linear-gradient(to right, rgb(255,0,0), rgb(0,0,255));
    
    &:hover {
        transform: scale(2);
    }
}

.grad_class {
    height: 300px;
    width: auto;
    max-width: 100%;
    background: linear-gradient(to right, rgb(255,0,0), rgb(0,0,255));
    transition: transform 2s;
    
    
}

.grad_class:hover {
        transform: scale(2,2);
    }